
.slider-content {
  display: inline-block;
  white-space: nowrap;
  animation: slide 15s linear infinite
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

