
.slider-content {
  animation: slide 15s linear infinite;
  animation-direction:alternate-reverse
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}


