
.clipped {
  background-size: cover;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
}

/* url(/images/luis-eduardo-urdaneta-martucci.png) */
/* 
rgba(0, 187, 49, 1), rgba(27, 100, 43, 1) */