@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1,900,700,500,301,701,300,501,401,901,400,2&display=swap');


/* Webkit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  /* height: 10px; */
  background-color: #27272A;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00BB31;
}

/* Mozilla (Firefox) */
scrollbar {
  width: 10px;
  /* height: 10px; */
  background-color: #27272A;
}

scrollbar thumb {
  border-radius: 10px;
  background-color: #00BB31;
}

/* Microsoft (Edge, Internet Explorer) */
scrollbar {
  width: 10px;
  /* height: 10px; */
  background-color: #27272A;
}

scrollbar thumb {
  border-radius: 10px;
  background-color: #00BB31;
}

/* Universal (todos los navegadores) */
::-webkit-scrollbar,
scrollbar,
*::-ms-scrollbar {
  width: 10px;
  /* height: 10px; */
  background-color: #27272A;
}

::-webkit-scrollbar-thumb,
scrollbar thumb,
*::-ms-scrollbar-thumb {
  border-radius: 10px;
  background-color: #00BB31;
}



@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Satoshi, system-ui, sans-serif;
    background-color: #0F0F0F;
    color: white;
    overflow-y: scroll;
    min-height: 200vh;
  }
}